.landing-page1280px-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page1280px-landing-page1280px {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/6f8f855d-2695-4312-bfc9-9c49069a23c0-w7u-1500w.png");
}
.landing-page1280px-texth1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
.landing-page1280px-text {
  color: rgb(240, 152, 198);
  height: auto;
  flex-grow: 1;
  font-size: 200px;
  text-shadow: -10px -10px rgb(254, 219, 29);
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-texth2 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text01 {
  color: rgb(240, 152, 198);
  height: auto;
  flex-grow: 1;
  font-size: 100px;
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-container1 {
  gap: 100px;
  display: flex;
  padding: 100px 0;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-buttonnone {
  gap: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  padding: 10px;
  text-shadow: -10px -10px rgba(254, 219, 29, 1);
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  justify-content: center;
  background-color: rgba(240, 152, 198, 1);
}
.landing-page1280px-textarea {
  gap: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 100px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  justify-content: center;
  background-color: rgba(254, 219, 29, 1);
}
.landing-page1280px-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 50px;
  font-style: Black;
  text-align: center;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-buttonnone1 {
  gap: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  padding: 10px;
  text-shadow: -10px -10px rgba(254, 219, 29, 1) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  justify-content: center;
  background-color: rgba(240, 152, 198, 1);
}
.landing-page1280px-textarea1 {
  gap: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  padding: 100px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  justify-content: center;
  background-color: rgba(254, 219, 29, 1);
}
.landing-page1280px-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 50px;
  font-style: Black;
  text-align: center;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-texth3 {
  gap: 40px;
  display: flex;
  padding: 40px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text09 {
  color: rgb(254, 219, 29);
  height: auto;
  flex-grow: 1;
  font-size: 80px;
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-containersection {
  gap: 40px;
  display: flex;
  padding: 40px 20px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page1280px-texth4 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text19 {
  color: rgb(240, 152, 198);
  height: auto;
  flex-grow: 1;
  font-size: 140px;
  text-shadow: -10px -10px rgb(254, 219, 29);
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landing-page1280px-container2 {
  gap: 50px;
  display: flex;
  padding: 0 40px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-textp {
  gap: 10px;
  display: flex;
  padding: 40px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.landing-page1280px-text20 {
  color: rgb(255, 255, 255);
  height: auto;
  flex-grow: 1;
  font-size: 32px;
  align-self: center;
  text-shadow: 5px 5px rgb(0, 0, 0);
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 120%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-image {
  width: 500px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  text-shadow: 10px 10px rgba(0, 0, 0, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 500px;
  background-size: cover;
  background-image: url("/external/d6afb2ae-38ed-42c9-b540-6413e6717d31-a0w-500h.png");
}
.landing-page1280px-containersection1 {
  gap: 40px;
  display: flex;
  padding: 40px 20px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page1280px-texth31 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text21 {
  color: rgb(240, 152, 198);
  height: auto;
  flex-grow: 1;
  font-size: 140px;
  text-shadow: -10px -10px rgb(254, 219, 29);
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landing-page1280px-container3 {
  gap: 40px;
  display: flex;
  padding: 0 40px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-image1 {
  width: 500px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  text-shadow: 10px 10px rgba(0, 0, 0, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 500px;
  background-size: cover;
  background-image: url("/external/6130f0fd-ad03-4781-ac60-43122e53f069-uk7k-500h.png");
}
.landing-page1280px-textp1 {
  gap: 10px;
  display: flex;
  padding: 40px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.landing-page1280px-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 32px;
  text-shadow: 5px 5px rgba(0, 0, 0, 1) ;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-containersection2 {
  gap: 40px;
  display: flex;
  padding: 40px 20px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page1280px-texth32 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text23 {
  color: rgb(240, 152, 198);
  height: auto;
  flex-grow: 1;
  font-size: 140px;
  text-shadow: -10px -10px rgb(254, 219, 29);
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landing-page1280px-container4 {
  gap: 40px;
  display: flex;
  padding: 0 40px;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-textp2 {
  gap: 10px;
  display: flex;
  padding: 40px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.landing-page1280px-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 32px;
  text-shadow: 5px 5px rgba(0, 0, 0, 1) ;
  font-style: Black;
  text-align: left;
  font-family: Poppins;
  font-weight: 900;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.landing-page1280px-image2 {
  width: 500px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: relative;
  text-shadow: 10px 10px rgba(0, 0, 0, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 500px;
  background-size: cover;
  background-image: url("/external/79a05248-1a5d-417c-bbcb-94abc32ae572-cqzhu-500h.png");
}
.landing-page1280px-texth33 {
  gap: 40px;
  display: flex;
  padding: 40px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text25 {
  color: rgb(254, 219, 29);
  height: auto;
  flex-grow: 1;
  font-size: 80px;
  text-shadow: 10px 10px rgb(0, 0, 0);
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landing-page1280px-footer {
  gap: 20px;
  display: flex;
  padding: 100px 20px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(240, 152, 198, 1);
}
.landing-page1280px-link {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text29 {
  color: rgb(252, 213, 0);
  height: auto;
  flex-grow: 1;
  font-size: 120px;
  text-shadow: 10px 10px rgb(0, 0, 0);
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
}
.landing-page1280px-link1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text30 {
  color: rgb(252, 213, 0);
  height: auto;
  flex-grow: 1;
  font-size: 120px;
  text-shadow: 10px 10px rgb(0, 0, 0);
  font-style: normal;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
}
.landing-page1280px-link2 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text31 {
  color: #fcd500;
  height: auto;
  flex-grow: 1;
  font-size: 120px;
  text-shadow: 10px 10px rgb(0, 0, 0);
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
}
.landing-page1280px-link3 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.landing-page1280px-text32 {
  color: #fcd500;
  height: auto;
  flex-grow: 1;
  font-size: 120px;
  text-shadow: 10px 10px rgb(0, 0, 0);
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
}
@media(max-width: 991px) {
  .landing-page1280px-text {
    color: rgb(240, 152, 198);
    font-size: 150px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-decoration: none;
  }
  .landing-page1280px-text01 {
    color: rgb(240, 152, 198);
    font-size: 80px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 90%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-buttonnone {
    width: 200px;
    height: 200px;
  }
  .landing-page1280px-textarea {
    width: 100px;
    height: 100px;
    padding: var(--dl-space-space-halfunit);
  }
  .landing-page1280px-text07 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-decoration: none;
  }
  .landing-page1280px-buttonnone1 {
    width: 200px;
    height: 200px;
  }
  .landing-page1280px-textarea1 {
    width: 100px;
    height: 100px;
    padding: var(--dl-space-space-halfunit);
  }
  .landing-page1280px-text08 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-decoration: none;
  }
  .landing-page1280px-text09 {
    color: rgb(254, 219, 29);
    font-size: 50px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-decoration: none;
  }
  .landing-page1280px-text19 {
    color: rgb(240, 152, 198);
    font-size: 80px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-text20 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 120%;
    text-decoration: none;
  }
  .landing-page1280px-image {
    width: 400px;
    height: 400px;
  }
  .landing-page1280px-text21 {
    color: rgb(240, 152, 198);
    font-size: 80px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-image1 {
    width: 400px;
  }
  .landing-page1280px-text22 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 120%;
    text-decoration: none;
  }
  .landing-page1280px-text23 {
    color: rgb(240, 152, 198);
    font-size: 80px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-text24 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 120%;
    text-decoration: none;
  }
  .landing-page1280px-image2 {
    width: 400px;
    height: 400px;
  }
  .landing-page1280px-text25 {
    color: rgb(254, 219, 29);
    font-size: 50px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-text29 {
    color: rgb(252, 213, 0);
    font-size: 80px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-style: normal;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
  .landing-page1280px-text30 {
    color: rgb(252, 213, 0);
    font-size: 80px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-style: normal;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
  .landing-page1280px-text31 {
    color: rgb(252, 213, 0);
    font-size: 80px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
  .landing-page1280px-text32 {
    color: rgb(252, 213, 0);
    font-size: 80px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
}
@media(max-width: 767px) {
  .landing-page1280px-text01 {
    font-size: 60px;
  }
}
@media(max-width: 479px) {
  .landing-page1280px-text {
    color: rgb(240, 152, 198);
    font-size: 80px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-decoration: none;
  }
  .landing-page1280px-text01 {
    color: rgb(240, 152, 198);
    font-size: 40px;
  }
  .landing-page1280px-container1 {
    align-self: center;
    padding-top: 100px;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .landing-page1280px-buttonnone {
    width: 150px;
    height: 150px;
  }
  .landing-page1280px-textarea {
    width: 80px;
    height: 80px;
  }
  .landing-page1280px-text07 {
    font-size: 30px;
  }
  .landing-page1280px-buttonnone1 {
    width: 150px;
    height: 150px;
  }
  .landing-page1280px-textarea1 {
    width: 80px;
    height: 80px;
  }
  .landing-page1280px-text08 {
    font-size: 30px;
  }
  .landing-page1280px-text09 {
    color: rgb(254, 219, 29);
    font-size: 30px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-decoration: none;
  }
  .landing-page1280px-text19 {
    color: rgb(240, 152, 198);
    font-size: 40px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-text20 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 120%;
    text-decoration: none;
  }
  .landing-page1280px-image {
    width: 200px;
    height: 200px;
  }
  .landing-page1280px-text21 {
    color: rgb(240, 152, 198);
    font-size: 40px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-image1 {
    width: 200px;
    height: 200px;
  }
  .landing-page1280px-text22 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 120%;
    text-decoration: none;
  }
  .landing-page1280px-text23 {
    color: rgb(240, 152, 198);
    font-size: 40px;
    text-shadow: -10px -10px rgb(254, 219, 29);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-text24 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-shadow: 5px 5px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 120%;
    text-decoration: none;
  }
  .landing-page1280px-image2 {
    width: 200px;
    height: 200px;
  }
  .landing-page1280px-text25 {
    color: rgb(254, 219, 29);
    font-size: 30px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landing-page1280px-text29 {
    color: rgb(252, 213, 0);
    font-size: 40px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-style: normal;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
  .landing-page1280px-text30 {
    color: rgb(252, 213, 0);
    font-size: 40px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-style: normal;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
  .landing-page1280px-text31 {
    color: rgb(252, 213, 0);
    font-size: 40px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
  .landing-page1280px-text32 {
    color: rgb(252, 213, 0);
    font-size: 40px;
    text-shadow: 10px 10px rgb(0, 0, 0);
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
  }
}
