.landingdupe-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landingdupe-landingdupe {
  gap: 50px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 40px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(101, 92, 49, 1);
}
.landingdupe-text {
  color: rgba(240, 152, 198, 1);
  text-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  height: auto;
  font-size: 200px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text02 {
  color: rgb(240, 152, 198);
  text-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text03 {
  color: rgb(254, 219, 29);
  text-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-button {
  gap: 10px;
  display: flex;
  padding: 40px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1) ;
  transition: 0.3s;
  align-items: center;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(254, 219, 29, 1);
}
.landingdupe-button:hover {
  background-color: #FFED8D;
}
.landingdupe-button:active {
  background-color: #FCD500;
}
.landingdupe-text04 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-section1 {
  gap: 40px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text05 {
  color: rgb(240, 152, 198);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text06 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text07 {
  font-weight: 900;
}
.landingdupe-text09 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-section2 {
  gap: 40px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text10 {
  color: rgb(240, 152, 198);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text11 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text12 {
  font-weight: 900;
}
.landingdupe-text13 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-text14 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text15 {
  font-weight: 900;
}
.landingdupe-text17 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-section3 {
  gap: 40px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text18 {
  color: rgb(240, 152, 198);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text19 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text20 {
  font-weight: 900;
}
.landingdupe-text21 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-section4 {
  gap: 40px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text22 {
  color: rgb(240, 152, 198);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text23 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text24 {
  font-weight: 900;
}
.landingdupe-text25 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-section5 {
  gap: 40px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text26 {
  color: rgb(240, 152, 198);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text27 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text28 {
  font-weight: 900;
}
.landingdupe-text30 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-text31 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text32 {
  font-weight: 900;
}
.landingdupe-text33 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-section6 {
  gap: 40px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text34 {
  color: rgb(240, 152, 198);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text35 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text36 {
  font-weight: 900;
}
.landingdupe-text37 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-text38 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text39 {
  font-weight: 900;
}
.landingdupe-text41 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-section7 {
  gap: 40px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text42 {
  color: rgb(240, 152, 198);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.landingdupe-text43 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Black;
  text-align: left;
  font-family: "Poppins";
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text44 {
  font-weight: 900;
}
.landingdupe-text45 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-text46 {
  font-style: normal;
  font-weight: 400;
}
.landingdupe-footer {
  gap: 20px;
  display: flex;
  padding: 50px;
  align-self: stretch;
  box-shadow: -10px -10px rgba(254, 219, 29, 1), 10px 10px black;
  align-items: flex-start;
  border-radius: 100px;
  flex-direction: column;
  background-color: rgba(249, 225, 163, 1);
}
.landingdupe-text47 {
  color: rgba(240, 152, 198, 1);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text47:hover {
  color: #fab8db;
}
.landingdupe-text47:active {
  color: #f17bb9;
}
.landingdupe-text49 {
  color: rgba(240, 152, 198, 1);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text49:hover {
  color: #FAB8DB;
}
.landingdupe-text49:active {
  color: #f17bb9;
}
.landingdupe-text50 {
  color: rgba(240, 152, 198, 1);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text50:hover {
  color: #FAB8DB;
}
.landingdupe-text50:active {
  color: #f17bb9;
}
.landingdupe-text52 {
  color: rgba(240, 152, 198, 1);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text52:hover {
  color: #FAB8DB;
}
.landingdupe-text52:active {
  color: #f17bb9;
}
.landingdupe-text54 {
  color: rgba(240, 152, 198, 1);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text54:hover {
  color: #FAB8DB;
}
.landingdupe-text54:active {
  color: #f17bb9;
}
.landingdupe-text56 {
  color: rgba(240, 152, 198, 1);
  text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
  height: auto;
  font-size: 96px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 900;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.landingdupe-text56:hover {
  color: #FAB8DB;
}
.landingdupe-text56:active {
  color: #f17bb9;
}
@media(max-width: 767px) {
  .landingdupe-text {
    font-size: 100px;
  }
  .landingdupe-text02 {
    color: rgb(240, 152, 198);
    text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
    font-size: 50px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
  .landingdupe-text03 {
    font-size: 40px;
  }
  .landingdupe-text04 {
    font-size: 30px;
  }
  .landingdupe-section1 {
    padding: 40px;
  }
  .landingdupe-text05 {
    font-size: 40px;
  }
  .landingdupe-section2 {
    padding: 40px;
  }
  .landingdupe-text10 {
    font-size: 40px;
  }
  .landingdupe-section3 {
    padding: 40px;
  }
  .landingdupe-text18 {
    font-size: 40px;
  }
  .landingdupe-section4 {
    padding: 40px;
  }
  .landingdupe-text22 {
    font-size: 40px;
  }
  .landingdupe-section5 {
    padding: 40px;
  }
  .landingdupe-text26 {
    font-size: 40px;
  }
  .landingdupe-section6 {
    padding: 40px;
  }
  .landingdupe-text34 {
    font-size: 40px;
  }
  .landingdupe-section7 {
    padding: 40px;
  }
  .landingdupe-text42 {
    font-size: 40px;
  }
  .landingdupe-footer {
    padding: 40px;
  }
  .landingdupe-text47 {
    font-size: 40px;
  }
  .landingdupe-text49 {
    color: rgb(240, 152, 198);
    text-shadow: -5px -5px rgba(254, 219, 29, 1), 5px 5px black;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 900;
    line-height: 100%;
    text-decoration: none;
  }
  .landingdupe-text50 {
    font-size: 40px;
  }
  .landingdupe-text52 {
    font-size: 40px;
  }
  .landingdupe-text54 {
    font-size: 40px;
  }
  .landingdupe-text56 {
    font-size: 40px;
  }
}
@media(max-width: 479px) {
  .landingdupe-landingdupe {
    padding-left: 20px;
    padding-right: 20px;
  }
  .landingdupe-text {
    font-size: 60px;
  }
  .landingdupe-text02 {
    font-size: 30px;
  }
  .landingdupe-text03 {
    font-size: 20px;
  }
  .landingdupe-text04 {
    font-size: 20px;
  }
  .landingdupe-text05 {
    font-size: 30px;
  }
  .landingdupe-text06 {
    font-size: 20px;
  }
  .landingdupe-text10 {
    font-size: 30px;
  }
  .landingdupe-text11 {
    font-size: 20px;
  }
  .landingdupe-text14 {
    font-size: 20px;
  }
  .landingdupe-text18 {
    font-size: 30px;
  }
  .landingdupe-text19 {
    font-size: 20px;
  }
  .landingdupe-text22 {
    font-size: 30px;
  }
  .landingdupe-text23 {
    font-size: 20px;
  }
  .landingdupe-text26 {
    font-size: 30px;
  }
  .landingdupe-text27 {
    font-size: 20px;
  }
  .landingdupe-text31 {
    font-size: 20px;
  }
  .landingdupe-text34 {
    font-size: 30px;
  }
  .landingdupe-text35 {
    font-size: 20px;
  }
  .landingdupe-text38 {
    font-size: 20px;
  }
  .landingdupe-text42 {
    font-size: 30px;
  }
  .landingdupe-text43 {
    font-size: 20px;
  }
  .landingdupe-footer {
    padding: 20px;
  }
  .landingdupe-text47 {
    font-size: 30px;
  }
  .landingdupe-text49 {
    font-size: 30px;
  }
  .landingdupe-text50 {
    font-size: 30px;
  }
  .landingdupe-text52 {
    font-size: 30px;
  }
  .landingdupe-text54 {
    font-size: 30px;
  }
  .landingdupe-text56 {
    font-size: 30px;
  }
}
